@font-face {
  font-family: "Rajdhani-Regular";
  src: url("../../fonts//Rajdhani-Medium.ttf") format("truetype");
}

.MainDash {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 85%;
  text-align: center;
  margin: 35px;
}

@media screen and (max-width: 1200px) {
  .MainDash {
    justify-content: flex-start;
    margin-top: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .MainDash {
    align-items: center;
  }
}
