.workout-Practice {
  padding: 2rem;
}

.workout-Practice .workout_practice_heading {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 50px;
  line-height: 40px;
  text-align: center;
  letter-spacing: -0.04em;
  background: rgba(255, 255, 255, 0.5);;
  padding: 2rem;
  margin-top: 10px;
}
.workout-Practice .dropdown_container {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.workout-Practice .flexbox_container {
  display: flex;
  justify-content: center;
  gap: 200px;
  margin-bottom: 30px;
  flex-wrap: wrap;
}
.workout-Practice .workout_camera_and_canvas {
  position: relative;
}
.workout-Practice .workout_camera_and_canvas .workout_canvas_container {
  position: absolute;
  top: 0;
  left: 0;
}

.workout-Practice .feedback_container {
  display: flex;
  justify-content: right;
  width: 82%;
  margin-bottom: 20px;
}

.workout-Practice .feedback_style p {
  font-family: var(--font-family);
  font-weight: 550;
  font-size: 25px;
}

.workout-Practice .workout_pose_image_container img {
  width: 500px;
  height: 500px;
}

.workout-Practice .workout_pose_text_container {
  width: 500px;
  height: 500px;
}
.workout-Practice .workout_pose_text_container textarea {
  width: 500px;
  height: 500px;
  text-align: justify;
  font-family: var(--font-family);
  cursor: default;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  font-weight: 500;
  font-size: 20px;
  resize: none;
  border: none;
  padding: 10px;
}

@media screen and (max-width: 1200px) {
  .workout-Practice .flexbox_container {
    flex-direction: column;
    align-items: center;

    gap: 12px;
  }
  .workout-Practice .workout_camera_style {
    margin: auto;
  }
  .workout-Practice .workout_canvas_style {
    margin-right: auto;
  }
  .workout-Practice .feedback_container {
    justify-content: center;
    width: 100%;
  }
  .workout-Practice .workout_practice_heading {
    font-size: 40px;
  }
  .workout-Practice .dropdown_container {
    margin-bottom: 10px;
  }
}
