@font-face {
  font-family: 'Rajdhani-Bold';
  src: url('../../fonts/Rajdhani-Bold.ttf') format('truetype');
}

.workout-Practice {
  padding: 2rem;
}

.workout-Practice .workout_practice_heading {
  font-family: 'Rajdhani-Bold';
  color: #ff8999;
  font-weight: 800;
  font-size: 50px;
  line-height: 40px;
  text-align: center;
  letter-spacing: -0.04em;
  background: rgba(255, 255, 255, 0.5);
  padding: 2rem;
  margin-top: 10px;
}
.workout-Practice .dropdown_container {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.workout-Practice .flexbox_container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
  margin-top: 30px;
  align-items: center;
  flex-wrap: wrap;
}
.workout-Practice .workout_camera_and_canvas {
  position: relative;
}
.workout-Practice .workout_camera_and_canvas .workout_canvas_container {
  position: absolute;
  top: 0;
  left: 0;
}

#dropdown-basic-button {
  margin-top: 25px;
  font-family: 'Rajdhani-Bold';
}

.counter {
  border-radius: 100%;
  width: 150px;
  height: 150px;
  background: #ff899969 !important;
  font-family: 'Rajdhani-Bold';
  color: #ff8999;
  font-weight: 1550;
  font-size: 90px;
  line-height: 150px;
  text-align: center;
}

.workout-Practice .workout_pose_image_container img {
  width: 640px;
  height: 480px;
}

.workout-Practice .workout_pose_text_container {
  width: 640px;
  height: 480px;
}
.workout-Practice .workout_pose_text_container textarea {
  width: 640px;
  height: 480px;
  text-align: justify;
  font-family: 'Rajdhani-Bold';
  color: #ff8999;
  cursor: default;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  font-weight: 500;
  font-size: 20px;
  resize: none;
  border: none;
  padding: 10px;
}
.visible {
  display: flex;
  align-items: center;
  padding: 25px 40px 0 0;
  font-family: 'Rajdhani-Bold';
  color: #ff8999;
  cursor: default;
  font-weight: 500;
  font-size: 35px;
}

@media screen and (max-width: 1200px) {
  .workout-Practice .flexbox_container {
    flex-direction: column;
    align-items: center;

    gap: 12px;
  }
  .workout-Practice .workout_camera_style {
    margin: auto;
  }
  .workout-Practice .workout_canvas_style {
    margin-right: auto;
  }
  .workout-Practice .feedback_container {
    justify-content: center;
    width: 100%;
  }
  .workout-Practice .workout_practice_heading {
    font-size: 40px;
  }
  .workout-Practice .dropdown_container {
    margin-bottom: 10px;
  }
}
