@font-face {
  font-family: "Rajdhani-Bold";
  src: url("../../fonts/Rajdhani-Bold.ttf") format("truetype");
}

.SelectionPractice {
  display: grid;
  font-family: "Rajdhani-Bold";
  align-content: center;
  text-align: center;
  width: 95%;
}
.SelectionPractice .practice_select_container {
  display: flex;
  justify-content: space-evenly;
  margin: 50px;
}

.SelectionPractice .workout_card_img {
  width: 270px;
  height: 400px;
  margin: 0 auto;
}

.workout_practice_select {
  display: grid;
  overflow: hidden;
  grid-template-columns: 70% 30%;
  justify-items: center;
}

.workout_card {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.SelectionPractice .workout_card_title {
  font-size: 48px;
  font-family: var(--font-family);
  text-align: center;
}

.SelectionPractice .workout_card_selector {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.card-body {
  display: flex;
  flex-direction: column;
  background: #ffeedaa3;
  align-content: flex-end;
  justify-content: center;
}

.show_card_text {
  text-align: center;
  font-size: 50px;
  margin: 1rem 1rem;
}

.show_card {
  background: #ffcb00 !important;
  display: flex;
  flex-direction: row;
  margin: 2rem;
  color: white;
}

.dropdown-toggle {
  font-size: x-large !important;
  background: #ff899969 !important;
  width: 260px !important;
  color: #ff8999 !important;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  flex-direction: row !important;
}

.GoBtn {
  font-size: x-large !important;
  background: #ff899969 !important;
  width: 70px !important;
  color: #ff8999 !important;
}

@media screen and (max-width: 1024px) {
  .SelectionPractice .practice_select_container {
    flex-direction: column;
  }

  .dropdown-toggle {
    font-size: x-large !important;
    background: #ff899969 !important;
    color: #ff8999 !important;
    width: max-content !important;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    flex-direction: row !important;
  }

  img {
    display: none;
  }

  .show_card {
    display: none !important;
  }

  .workout_practice_select {
    display: block;
  }

  .SelectionPractice .workout_card {
    align-self: center;
  }
}
